/**
 * Component: #footer
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */


#footer {
    padding-top: var(--wp--preset--spacing--70);
}


#footer > p:nth-of-type(1) {
    font-size: 1rem;
}


#footer > p:nth-of-type(2) {
    font-size: .875rem;
    margin-bottom: 0;
}


#footer > .wp-block-buttons {
    margin-bottom: 2rem;
    gap: .1em;
}
