/**
 * Component: .navbar (navigation bar at the top side respectively)
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



.navbar {
    position: relative;
    z-index: 3000;
    width: 100%;
    height: 100%;
}


.navbar-content-wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 100%;
    padding: 1rem;
    background: transparent;

    @include breakpoint(huge) {
        flex-direction: column;
    }
}


.navbar-content {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;

/*  sidebar
    @include breakpoint(huge) {
        flex-wrap: wrap;
        flex-direction: column;
    }
*/
}


// top / left

.navbar-content-first {
    order: 1;
    flex-grow: 0;
    justify-content: flex-start;
}


// center / middle

.navbar-content-second {
    order: 2;
    flex-grow: 2;
}


// bottom / right

.navbar-content-third {
    gap: .2em;
    order: 3;
    flex-grow: 0;
    justify-content: flex-end;
}
