/**
 * Component: .navbar (navigation bar at the top side respectively)
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



.navbar {  // header?
    position: relative;
    z-index: 3000;
    width: 100%;
    height: 100%;
}


.navbar-content {   // temporarily
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 100%;
    padding: 1rem;
    background: transparent;

    @include breakpoint(large) {
        flex-direction: column;
    }
}


/** Areas inside .navbar-content */

.navbar-content-area {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;

    @include breakpoint(large) {
        flex-wrap: wrap;
        flex-direction: column;
    }
}


.navbar-content-area--left-top {
    order: 1;
    flex-grow: 0;
    justify-content: flex-start;
}


.navbar-content-area--center {
    order: 2;
    flex-grow: 2;
}


.navbar-content-area--right-bottom {
    gap: .2em;
    order: 3;
    flex-grow: 0;
    justify-content: flex-end;
}
