/**
 * HTML tags
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



html,
body {
    height: 100%;
    font-size: 16px;

    // interim settings (still needed as long theme blocks aren't updated)
    font-family: $font--primary;
    font-weight: 200;
    line-height: 1.7;
    letter-spacing: .2px;
    color: $color--text;
}


html {
    margin: 0 !important;
}


body {
    background: $color--background;
    margin: 0;
    padding: 0;
    position: relative; // prevent scrolling at overflow:hidden (iOS)
    overflow: hidden;
}


*,
*::before,
*::after {
    //margin: 0;
    padding: 0;
    box-sizing: border-box;
}


b,
strong {
    font-weight: 600;
    letter-spacing: .8px;
}


a {
    @include default_anchor_style();
}
