/**
 * Site components
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



@import "components/_app";
@import "components/_main";
@import "components/_navbar";
@import "components/_scrollup";
@import "components/_slideout";



/**
 * Fix to WordPress #wpadminbar
 */

@media screen and (max-width: 600px) {
    #wpadminbar {
        position: fixed !important;
    }
}



/**
 * Images
 */

#marco-01 img,
#marco-02 img  {
    filter: drop-shadow(20px 20px 20px #000) opacity(65%);
}


#marco-01 {
    width: auto;
    overflow: hidden;
    height: 0;
    padding-top: 50%;
    position: relative;
    display: block;
}


#marco-01 img {
    position: absolute;
    top: 0;
    left: 25%;
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: unset;
}
