/**
 * SCSS/CSS variables
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */




// Colors
// The naming is based on what the colors represent. The actual color palette stems from theme.json.

$color--text:                               var(--wp--preset--color--concrete);
$color--background:                         var(--wp--preset--color--midnightdark);
$color--link:                               var(--wp--preset--color--denim);
$color--link__hover:                        var(--wp--preset--color--white);
$color--heading-is-paragraph:               var(--wp--preset--color--denim);
$color--heading-is-section:                 var(--wp--preset--color--stone);
$color--heading-is-article:                 var(--wp--preset--color--stone);
$color--figcaption:                         var(--wp--preset--color--denim);
$color--button--text:                       var(--wp--preset--color--denim);
$color--button--background:                 transparent;
$color--button--border:                     var(--wp--preset--color--denim);
$color--button--text__hover:                var(--wp--preset--color--white);
$color--button--background__hover:          var(--wp--preset--color--denim);
$color--button--border__hover:              var(--wp--preset--color--denim);
$color--slideout:                           var(--wp--preset--color--skyblue);
$color--slideout--text:                     var(--wp--preset--color--white);
$color--slideout--text__hover:              var(--wp--preset--color--denim);
$color--calendar:                           var(--wp--preset--color--denim);
$color--calendar--background:               var(--wp--preset--color--white);
$color--ruler:                              var(--wp--preset--color--dusk);
$color--button-is-flat--text:               var(--wp--preset--color--denim);
$color--button-is-flat--text__hover:        var(--wp--preset--color--denim);
$color--button-is-flat--background:         transparent;
$color--button-is-flat--background__hover:  var(--wp--preset--color--stone);
$color--code--selection--background:        var(--wp--preset--color--skyblue);
$color--code--selection--text:              var(--wp--preset--color--white);


// Fonts

$font--primary:                             var(--wp--preset--font-family--inter);
$font--secondary:                           var(--wp--preset--font-family--roboto-slab);


// Basic settings

$base--font-size:                           var(--wp--custom--base--font-size);
$base--gap:                                 var(--wp--custom--base--gap);
$base--border-radius:                       var(--wp--custom--base--border-radius);


// Dimensions

$navbar--max-width:                         var(--wp--custom--navbar--max-width);
$navbar--height:                            var(--wp--custom--navbar--height);
$navbar--min-padding:                       var(--wp--custom--navbar--min-padding);
$content--max-width:                        var(--wp--custom--content--max-width);
$content--min-padding:                      var(--wp--custom--content--min-padding);
$content--padding--autogrow:                unquote('clamp(2rem, 5vw + 1.5rem, 6rem)');
$teaserblock--image-width:                  var(--wp--custom--teaserblock--image-width);
$teaserblock--teaser-gap:                   4.5rem;

$size--scrollup:                            1.5rem;
$autogrow--height--spacer:                  unquote('clamp(5rem, 5vw + 3rem, 8rem)');


@include breakpoint(medium) {
    body {
        --wp--custom--navbar--height:               6.5rem;
        --wp--custom--teaserblock--image-width:     125px;
    }
}


@include breakpoint(large) {
    body {
        --wp--custom--navbar--min-padding:          2rem;
        --wp--custom--content--min-padding:         3rem;
        --wp--custom--teaserblock--image-width:     175px;
    }
}
