/**
 * SCSS/CSS variables
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



// Colors
// The naming is based on what the colors represent. The actual color palette stems from theme.json.

$color--text:                               var(--wp--preset--color--concrete);
$color--background:                         var(--wp--preset--color--darkness);
$color--link:                               var(--wp--preset--color--denim);
$color--link__hover:                        var(--wp--preset--color--white);
$color--button--text:                       var(--wp--preset--color--denim);
$color--button--background:                 transparent;
$color--button--border:                     var(--wp--preset--color--denim);
$color--button--text__hover:                var(--wp--preset--color--white);
$color--button--background__hover:          var(--wp--preset--color--denim);
$color--button--border__hover:              var(--wp--preset--color--denim);
$color--slideout:                           var(--wp--preset--color--denim);
$color--slideout--text:                     var(--wp--preset--color--white);
$color--slideout--text__hover:              var(--wp--preset--color--denim-dark);
$color--button-is-flat--text:               var(--wp--preset--color--denim);
$color--button-is-flat--text__hover:        var(--wp--preset--color--denim);
$color--button-is-flat--background:         transparent;
$color--button-is-flat--background__hover:  var(--wp--preset--color--stone);
$color--code--selection--background:        var(--wp--preset--color--denim);
$color--code--selection--text:              var(--wp--preset--color--white);


// Basic settings

$base--font-size:                           var(--wp--custom--base--font-size);
$base--gap:                                 var(--wp--custom--base--gap);
$base--border-radius:                       var(--wp--custom--base--border-radius);


// Dimensions

$navbar--max-width:                         var(--wp--custom--navbar--max-width);
$navbar--height:                            var(--wp--custom--navbar--height);
$navbar--min-padding:                       var(--wp--custom--navbar--min-padding);
$content--max-width:                        var(--wp--custom--content--max-width);    // used in scrollup, need to be fixed
$content--min-padding:                      var(--wp--custom--content--min-padding);  // used in slideout, need to be fixed
$teaserblock--image-width:                  var(--wp--custom--teaserblock--image-width);
$teaserblock--teaser-gap:                   4.5rem;

$size--scrollup:                            1.5rem;


@include breakpoint(medium) {
    body {
        --wp--custom--teaserblock--image-width:     125px;
    }
}


@include breakpoint(large) {
    body {
        --wp--custom--navbar--min-padding:          2rem;
        --wp--custom--content--min-padding:         3rem;
        --wp--custom--teaserblock--image-width:     175px;
    }
}
