/**
 * SCSS/CSS variables (deprecated)
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



// Colors
// The naming is based on what the colors represent. The actual color palette stems from theme.json.

$color--text:                               var(--wp--preset--color--concrete);
$color--link:                               var(--wp--preset--color--denim);
$color--link__hover:                        var(--wp--preset--color--white);
$color--slideout:                           var(--wp--preset--color--denim);
$color--slideout--text:                     var(--wp--preset--color--white);
$color--slideout--text__hover:              var(--wp--preset--color--denim-dark);
$color--code--selection--background:        var(--wp--preset--color--denim);
$color--code--selection--text:              var(--wp--preset--color--white);


// Basic settings

$base--border-radius:                       var(--wp--custom--base--border-radius);


// Dimensions

@include breakpoint(medium) {
    body {
        --wp--custom--teaserblock--image-width:     125px;
    }
}


@include breakpoint(large) {
    body {
        --wp--custom--teaserblock--image-width:     175px;
    }
}
