/**
 * WordPress fixes
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



/**
 * WordPress admin bar support
 */

#wpadminbar {
    position: fixed !important;

    @media screen and (max-width:600px) {
        position: fixed !important;
    }
}


body.logged-in.admin-bar {

    .wp-site-blocks {
        height: calc(100vh - var(--wp-admin--admin-bar--height));
        height: calc(100dvh - var(--wp-admin--admin-bar--height));
    }

    .site-component-slideout {
        height: calc(100vh - var(--wp-admin--admin-bar--height));
        height: calc(100dvh - var(--wp-admin--admin-bar--height));
        top: var(--wp-admin--admin-bar--height);
    }
}
