/**
 * Shortcode [publikationsliste]
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



.publikationsliste .loadmore-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}


.publikationsliste .loadmore-action-wrapper {
    margin-top: 2.5rem;
}


.publikationsliste .publikation {
    font-size: 1.35rem;
    letter-spacing: .2px;
    width: 100%;
    display: grid;
    grid-template-columns: 1ch auto;
    grid-auto-flow: column;
    gap: .75rem 2rem;
    align-items: baseline;

    & > div:last-child {
        display: flex;
        flex-wrap: wrap;
        gap: .9em 2rem;
        align-items: baseline;

        @include breakpoint(medium) {
            flex-wrap: nowrap;
        }

        div:first-child {
            width: 100%;
            order: 1;

            @include breakpoint(medium) {
                width: auto;
                flex-basis: 100%;
                flex-shrink: 2;
                flex-grow: 1
            }
        }

        div:last-child {
            width: 100%;
            order: 2;
            line-height: 1;

            @include breakpoint(medium) {
                width: auto;
                flex-shrink: 1;
                flex-grow: 1;
            }
        }

    }

    p {
        margin: unset;
        line-height: 1.4;

        &.small {
            font-size: var(--wp--preset--font-size--small);
            margin-top: .3rem;
        }
    }

    a {
        font-family: var(--wp--preset--font-family--secondary);
    }

}
