/**
 * Site component: main
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */




.site-component-main {
    margin-top: 0 !important;

    // Block editor setting
    .block-editor-iframe__body & {
        display: block;
    }
}



/**
 * Margin control
 */

.site-component-main .no-root-padding-top,       // compatibility reasons, deprecated
.site-component-main .no-main-padding-top {
    margin-top: calc(-1*var(--wp--custom--main--spacing--top)) !important;
}


.site-component-main .no-main-padding-bottom {
    margin-bottom: calc(-1*var(--wp--custom--main--spacing--bottom)) !important;
}



/**
 * Background images
 */

.has-concrete-background-from-left,
.has-concrete-background-from-right {
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: calc(-1*calc(var(--wp--custom--main--spacing--top) + var(--wp--custom--header--height))) !important;
}

.has-concrete-background-from-left {
    background-image: url("../../images/concrete-background-from-left.png");
}

.has-concrete-background-from-right {
    background-image: url("../../images/concrete-background-from-right.png");
}
