/**
 * Site component: header
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



.site-component-header {
    width: 100%;
    height: var(--wp--custom--header--height);
    margin-top: 0 !important;


    // Block editor setting
    .block-editor-iframe__body & {
        display: block;
    }


    & > .wp-block-group,
    & > .wp-block-group > .wp-block-group {
        height: inherit;
    }
}


.primary-mobile-navigation {
    display: flex;
    position: relative;
    z-index: 3000;

    @include on_breakpoint(large) {
        display: none !important;
    }
}


.primary-desktop-navigation {
    display: none;

    @include on_breakpoint(large) {
        display: flex !important;
    }
}
