/**
 * Site component: header
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */




.site-component-header {
    width: 100%;
    height: var(--wp--custom--header--height);


    // Block editor setting
    .block-editor-iframe__body & {
        display: block;
    }


    & > .wp-block-group,
    & > .wp-block-group > .wp-block-group {
        height: inherit;
    }
}
