/**
 * Block: core/heading
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-theme-fse
 */




h1.is-style-aricle-header,
h2.is-style-article-header,
h3.is-style-article-header,
h4.is-style-article-header,
h5.is-style-article-header,
h6.is-style-article-header,
h1.is-style-section-header,
h2.is-style-section-header,
h3.is-style-section-header,
h4.is-style-section-header,
h5.is-style-section-header,
h6.is-style-section-header  {
    // prevent margin-collapsing
    display: block;
    width: 100%;

    // typography
    font-family: var(--wp--preset--font-family--secondary);
    font-weight: 800;
    font-size: clamp(3rem, 5vw, 4.5rem);
    line-height: 1.3;
    text-transform: none;
    text-shadow: 0 1px 10px rgba(0,0,0,.35);
    color: var(--wp--preset--color--light-yellow);

    // spacing
    margin-top: 0 !important;
    margin-bottom: calc(2.5 * var(--mdb-gap-typo));
}


h1.is-style-section-header,
h2.is-style-section-header,
h3.is-style-section-header,
h4.is-style-section-header,
h5.is-style-section-header,
h6.is-style-section-header {
    // typography
    font-size: clamp(2rem, 4vw, 3.5rem);
}


h1.is-style-paragraph-header,
h2.is-style-paragraph-header,
h3.is-style-paragraph-header,
h4.is-style-paragraph-header,
h5.is-style-paragraph-header,
h6.is-style-paragraph-header {
    // prevent margin-collapsing
    display: block;
    width: 100%;

    // typography
    font-family: var(--wp--preset--font-family--secondary);
    font-weight: 300;
    font-size: 1.75rem;
    line-height: 1.3;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 0 1px 10px rgba(0,0,0,.35);
    color: var(--wp--preset--color--light-yellow);

    // spacing
    * + & {
        margin-top: calc(3.5 * var(--mdb-gap-typo));
    }
}
