/**
 * Component: #app (wrapper of #main and #navbar)
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



#app {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: auto;
    grid-template-rows: $height--navbar auto;
    background: radial-gradient(circle at top, var(--wp--preset--color--slate) 10%, transparent 40%);

    body.logged-in.admin-bar & {
        height: calc(100vh - var(--wp-admin--admin-bar--height));
        height: calc(100dvh - var(--wp-admin--admin-bar--height));
    }
}
