/**
 * Component: #navbar (navigation bar at the top and left side respectively)
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



#navbar {  // header?
    position: relative;
    z-index: 1080;
    width: 100%;
    height: $height--navbar;
}

.navbar {   // temporarily
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 100%;
    padding-left: unquote('max( #{$min-padding--navbar}, calc( calc(100% - #{$max-width--navbar} ) / 2 ))');
    padding-right: unquote('max( #{$min-padding--navbar}, calc( calc(100% - #{$max-width--navbar} ) / 2 ))');
    background: transparent;
}



/** Areas inside .navbar */

#navbar-left {
    display: flex;
    order: 1;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
}

#navbar-middle {
    display: flex;
    order: 2;
    flex-grow: 2;
}

#navbar-right {
    display: flex;
    order: 3;
    flex-grow: 0;
    flex-wrap: nowrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: flex-end;
}


/** Buttons inside #navbar */

.navbar-button {
    display: inline-block;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: 0 !important;
    position: relative;

    svg {
        width: auto;
        height: 18px;

        path {
            transition: all .5s ease-out;
            fill: $color--link;
        }
    }

    &:hover svg,
    &:focus svg {
        path {
            fill: $color--link;     // __hover;
        }
    }
}

body:not(.slideout-visible).slide-in-progress .navbar-button,
body.slideout-visible .navbar-button {
    svg path {
        fill: $color--slideout-link;
    }

    &:hover svg,
    &:focus svg {
        path {
            fill: $color--slideout-link__hover;
        }
    }
}
