/**
 * Component: #navbar (navigation bar at the top and left side respectively)
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



#navbar {  // header?
    position: relative;
    z-index: 1080;
    width: 100%;
    height: $height--navbar;
}

.navbar {   // temporarily
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 100%;
    padding-left: unquote('max( #{$min-padding--navbar}, calc( calc(100% - #{$max-width--navbar} ) / 2 ))');
    padding-right: unquote('max( #{$min-padding--navbar}, calc( calc(100% - #{$max-width--navbar} ) / 2 ))');
    background: transparent;
}


/** Areas inside .navbar */

#navbar-left {
    display: flex;
    order: 1;
    flex-grow: 1;
    gap: .5rem;
    align-items: center;
    justify-content: flex-start;
}

#navbar-middle {
    display: flex;
    order: 2;
    flex-grow: 2;
}

#navbar-right {
    display: flex;
    order: 3;
    flex-grow: 0;
    flex-wrap: nowrap;
    gap: .5rem;
    align-items: center;
    justify-content: flex-end;
}
