/**
 * Component: #navbar (navigation bar at the top and left side respectively)
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



#navbar {
    position: relative;
    z-index: 1080;
    display: flex;
    flex-direction: row;
    align-content: center;
    background: transparent;
    width: 100%;
    height: var($row-height--navbar);
    padding: $padding--content;

    @include breakpoint(large) {
        flex-direction: column;
        width: var($column-width--navbar);
        height: 100%;
    }
}


/** Areas inside #navbar */

#navbar-left {
    display: flex;
    order: 1;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;

    @include breakpoint(large) {
        align-items: flex-start;
        justify-content: center;
    }
}

#navbar-middle {
    display: flex;
    order: 2;
    flex-grow: 2;
}

#navbar-right {
    display: flex;
    order: 3;
    flex-grow: 0;
    flex-wrap: nowrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: flex-end;

    @include breakpoint(large) {
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: center;
    }
}


/** Buttons inside #navbar */

.navbar-button {
    display: inline-block;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: 0 !important;
    position: relative;

    @include breakpoint(large) {
        // make sure buttons are arranged among themselves
        width: 100%;
    }

    svg {
        width: auto;
        height: 18px;

        path {
            transition: all .5s ease-out;
            fill: $color--link;
        }
    }

    &:hover svg,
    &:focus svg {
        path {
            fill: $color--link;     // __hover;
        }
    }
}

body:not(.slideout-visible).slide-in-progress .navbar-button,
body.slideout-visible .navbar-button {
    svg path {
        fill: $color--slideout-link;
    }

    &:hover svg,
    &:focus svg {
        path {
            fill: $color--slideout-link__hover;
        }
    }
}
