/**
 * Component: #scrollup
 * Realised as a block pattern.
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



#scrollup {
    position: fixed;
    bottom: 2rem;
    right: unquote('max(2rem, calc(calc(calc(100% - #{$max-width--content}) / 2 - #{$size--scrollup}) / 3))');
    display: none;

    & > .wp-block-button__link {

        svg  {
            width: auto;
            height: $size--scrollup;
        }
    }
}
