@import "../lib/_responsive";



/**
 * .publications-filters
 */

.publications-filters {
    width: auto;
    display: block;
    position: relative;
}



/**
 * .publications-filters-button
 */

.publications-filters-button a {
    height: 48px;
    display: inline-flex;
    align-items: center;
    position: relative;
    z-index: 101;
    padding: 0 1rem;
    transition: none;
    gap: 1rem;
    border-width: 1px;
    border-style: solid;

    span {
        display: inline-block;
    }
}


:not(.is-open) .publications-filters-button a {
    color: var(--wp--preset--color--denim-0);
    border-color: var(--wp--preset--color--denim-0);

    .svg-symbol {
        background-color: var(--wp--preset--color--denim-0);
    }

    &:hover,
    &:focus {
        color: var(--wp--preset--color--contrast-1);
        border-color: var(--wp--preset--color--contrast-1);

        .svg-symbol {
            background-color: var(--wp--preset--color--contrast-1);
        }
    }
}


.is-open .publications-filters-button a {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-color: transparent !important;
    color: var(--wp--preset--color--contrast-1) !important;

    .svg-symbol {
        transform: rotate(-180deg);
        background-color: var(--wp--preset--color--contrast-1) !important;
    }
}



/**
 * .publications-filters-dropdown
 */

.publications-filters-dropdown {
    display: none;
    position: absolute;
    z-index: 100;
    margin: 0;
    padding: .5rem;
    border-radius: 4px;
    border-top-left-radius: 0;
    background: hsl(202.1, 81.7%, 30%);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.publications-filters-dropdown ul {
    list-style: none;
    flex-direction: column;
    display: flex;
    padding: 0;
    margin: 0;
    gap: .5rem;
}

.publications-filters-dropdown li {
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}



/**
 * .publications-filters-select
 */

.publications-filters-select {
    --color:  #f0f0f0;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 3rem;
    padding: .5rem .75rem;
    width: 100%;
    border-radius: 3px;
    border: unset;
    background: transparent;
    color: var(--color);
    font-family: var(--wp--preset--font-family--primary);
    font-size: var(--wp--preset--font-size--medium);

    & > span {
        display: inline-block;
    }

    & > span:first-of-type {
        flex-grow: 1;
        flex-shrink: 0;
    }

    & > span:last-of-type {
        flex-grow: 0;
        flex-shrink: 0;
    }

    .svg-symbol-check {
        visibility: hidden;
        transition: background-color .3s;
        background-color: var(--color);
    }

    &:hover {
        --color: var(--wp--preset--color--contrast-1);
        background: var(--wp--preset--color--denim-1);
    }
}


.publications-filters-select.is-selected .svg-symbol-check {
    visibility: visible;
}


.publications-filters.is-open .publications-filters-button a {
    background: hsl(202.1, 81.7%, 30%);
    color: var(--wp--preset--color--white);
}

.publications-filters.is-open .publications-filters-dropdown {
    display: block;
}

.publications-current-filter-display {
    display: block;
    visibility: hidden;
}



/**
 * .publications-filters-list
 */

.publications-list {
    display: flex !important;
    flex-direction: column;
    gap: 3.5rem;
    list-style: none;
    padding-left: 0 !important;
}

.publications-list-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
    padding-left: 0;
    line-height: 1.4 !important;

    @include on_breakpoint(medium) {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 2rem;
    }
}


.publications-list-item-arrow {
    order: 1;

    @include on_breakpoint(medium) {
        order: 0;
    }
}

.publications-list-item-description {
    flex-grow: 1;
    order: 0;

    @include on_breakpoint(medium) {
        order: 1;
    }

    & > :first-child {
        margin-top: 0;
    }

    & > :last-child {
        margin-bottom: 0;
    }
}

.publications-list-item-image {
    display: none;

    @include on_breakpoint(medium) {
        display: block;
        flex-base: 75px;
        flex-shrink: 0;
        flex-grow: 0;
        order: 2;
    }
}

.publications-list-item-pubnote {
    margin-top:.5em;
    font-size: 90%;
    color: var(--wp--preset--color--contrast-2);
}
