/**
 * HTML tags
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



html,
body {
    height: 100%;
}


html {
    margin: 0 !important;
}


body {
    margin: 0;
    padding: 0;
    position: relative; // prevent scrolling at overflow:hidden (iOS)
    overflow: hidden;
    width: 100vw;
}


.wp-site-blocks {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    height: 100dvh;
}


*,
*::before,
*::after {
    padding: 0;
    box-sizing: border-box;
}


*::selection {
    background: var(--wp--preset--color--denim-0) !important;
    color: var(--wp--preset--color--white) !important;
}


b,
strong {
    font-weight: 700;
}
