/**
 * Block: mdb-theme-blocks/post-terms
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



/**
 * Block: Tags
 */

.tags {
    margin-top: 3rem;

    @include breakpoint(medium) {
        margin-top:4rem;
    }

    ul {
        all: initial;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: .75rem;
    }

    ul > li {
        padding-left: 0;
        margin-left: 0;
    }

    .button.button-tag {
        // typography
        font-family: $font--primary;
        font-weight: normal;
        font-size: .75rem;
        text-transform: uppercase;
        text-decoration: none !important;
        text-shadow: 0 1px 5px rgba(0,0,0,.5);
        color: $color--tag--text;

        // positioning
        display: inline-block;
        position: relative;
        top: 0;
        left: 0;

        // other styling
        padding: 8px 12px;
        background: transparent;
        border: 2px solid $color--tag--border;
        border-radius: 5px;
        transition: color .25s linear, border-color .25s linear;

        &:hover,
        &:focus {
            color: $color--tag--text;
            border-color: $color--tag--border__hover;
        }

        &:active {
            top: 2px;
        }
    }
}
