/**
 * Block: mdb-theme-blocks/post-terms
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



/**
 * default
 */

.tags {
    justify-content: center;
    margin-top: var(--wp--preset--spacing--60);
    gap: 1.125rem;
    padding: 0;

    .wp-element-button {
        font-size: .75rem;
        padding: 8px 12px;
    }
}
