/**
 * Block: mdb-theme-blocks/post-terms
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



/**
 * default
 */

.tags {
    margin-top: 3rem;

    @include breakpoint(medium) {
        margin-top:4rem;
    }

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 1.125rem;
        padding: 0;
    }

    ul > li {
        padding-left: 0;
        margin-left: 0;
    }

    .button.button-tag {
        @include default_button_style();
        font-size: .75rem;
        padding: 8px 12px;
    }
}
