/**
 * Block: mdb-theme-blocks/post-terms
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



/**
 * default
 */

.tags {
    margin-top: 3rem;
    //display: flex;
    //flex-wrap: wrap;
    gap: 1.125rem;
    padding: 0;

    @include breakpoint(medium) {
        margin-top:4rem;
    }


    .wp-element-button {
        font-size: .75rem;
        padding: 8px 12px;
    }
}
