/**
 * Block: mdb-theme-blocks/single-publication-details
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



/**
 * Styles for publication pages
 */

#cover-and-title {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;

    @include breakpoint(medium) {
        flex-wrap: nowrap;
    }


    & > div:first-child {
        width: 100%;
        order: 1;

        @include breakpoint(medium) {
            order: 2;
            width: 300px;
        }
    }

    & > div:last-child {
        width: 100%;
        order: 2;

        @include breakpoint(medium) {
            order: 1;
            width: auto;
        }
    }
}


.publication-cover {
    width: 300px;
    height: auto;
    box-shadow: 0 19px 38px rgba(0,0,0,.3),0 15px 12px rgba(0,0,0,.22);
    border-radius: 2px;
}


.publication-title {
    display: block;
    font-size: calc(2 * #{$base--font-size});
    hyphens: auto !important;
}


.publication-subtitle {
    display: block;
    font-family: $font--primary;
    font-size: calc(1.35 * #{$base--font-size});
    font-weight: 200;
    letter-spacing: 0;
    color: var(--wp--preset--color--denim);
    margin-top: 1em;
}


.publication-keyword {
    display: inline-block;
    margin-top: 0.5rem;
    margin-right: 1rem;

    @include breakpoint(medium) {
        margin-right: 1.5rem;
    }

    :before {
        content: "#";
        margin-right: 3px;
        color: var(--wp--preset--color--denim-dark);
    }
}
