/**
 * Block: core/button
 * Theme support and custom styles
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



/**
 * .is-style-navigation-faux-anchor
 */

.wp-block-button.is-style-navigation-faux-anchor > .wp-block-button__link  {
    display: inline-block;
    padding: 0;
    line-height: 0;
    text-shadow: none;
    box-shadow: none;
    outline: none !important;
    border: none !important;
    background: none !important;
}


.wp-block-button.is-style-navigation-faux-anchor > .wp-block-button__link .svg-symbol {
    background-color: var(--wp--preset--color--denim-0);
    transition: background-color .3s;

    .slideout-visible & {
        background-color: var(--wp--preset--color--white);
    }
}
