/**
 * Block: core/cover
 * Theme support and custom styles
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



:where(:not(.block-editor-block-list__layout)) .is-style-welcome {

    padding-top: var(--wp--custom--header--height);
    padding-bottom: 0;
    margin-top: calc(-1 * (var(--wp--custom--main--spacing--top) + var(--wp--custom--header--height))) !important;


    .wp-block-cover__inner-container {
        z-index: 5;

        img {
            vertical-align: top;
            filter: saturate(.9) drop-shadow(0px 25px 250px rgba(0, 0, 0, 0)) blur(.4px);
        }
    }


    &::after {
        content: " ";
        position: absolute;
        display: block;
        width: 100%;
        bottom: -1px;
        left: 0;
        height: 200px;
        z-index: 10;
        background: var(--wp--preset--color--base-0);
        -webkit-mask-image: linear-gradient(transparent,black 95%);
                mask-image: linear-gradient(transparent,black 95%);
        filter: blur(.4px);
    }
}
