/**
 * Block: core/image
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



/**
 * default
 */

.wp-block-image {
    // sizing
    line-height: 0;

    // spacing
    margin: 0;

    img {
        width: 100%;
        height: auto;
    }

    figure {
        width: 100% !important;
    }
}



/**
 * .is-style-shaded
 */


.wp-block-image.is-style-shaded .wp-element-caption {
    margin-top: 1.3rem;
}


.wp-block-image.is-style-shaded {
    // spacing
    margin-top: var(--wp--preset--spacing--50);
    margin-bottom: var(--wp--preset--spacing--50);

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    img {
        padding: 0;
        position: relative;
        transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;
        transform: scale(1.0);
        box-shadow: 0 8px 10px 0 rgba(0,0,0,.35);
        border-radius: var(--wp--custom--base--border-radius);
    }

    a:focus img,
    a:hover img {
        box-shadow: 0 19px 38px rgba(0,0,0,.3), 0 15px 12px rgba(0,0,0,.22);
        transform: scale(1.1);
    }
}



/**
 * .is-style-masonry
 */

.wp-block-image.is-style-masonry {
    position: relative;

    img {
        position: relative;
        z-index: 100;
        opacity: .8;
        transition: all .3s;
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
        border-radius: 2px;
    }

    figcaption {
        display: none;
        position: absolute;
        z-index: 200;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &:focus,
    &:hover {
        img {
            opacity: 1;
            filter: grayscale(100%)
        }

        figcaption {
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }
}
