/**
 * Block: core/list
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



/**
 * default
 */

ol,
ul {
    // prevent margin-collapsing
    display: block;
    width: 100%;

    // spacing
    padding-left: 1.5rem;
}


ol > li,
ul > li {
    padding-left: .5rem;
}


ul > li::marker {
    color: var(--wp--preset--color--white);
}
