/**
 * Block: core/list
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



/**
 * default
 */

.wp-block-list:not(.is-style-no-markers) {
    // prevent margin-collapsing
    display: block;
    width: 100%;

    // spacing
    padding-left: 2rem;
}

.wp-block-list:not(.is-style-no-markers) > li {
    padding-left: 1rem;
}


.wp-block-list.is-style-no-markers {
    list-style: none !important;
}

.wp-block-list.is-style-no-markers > li::marker {
    content: none; /* Hides the bullet */
    padding-left: 0;
}
