 /**
 * Block: core/separator
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



/**
 * default
 */

.wp-block-separator {
    // styling
    border-top: 1px solid var(--wp--preset--color--denim-0);
    border-bottom: 1px solid transparent;         // don't know why the original code needs both border lines
    border-left: none;
    border-right: none;
}
