<!-- wp:template-part {"slug":"slideout"} /-->

<!-- wp:group -->
<div id="app" class="wp-block-group">

    <!-- wp:template-part {"slug":"navbar","theme":"mdb-theme-fse","tagName":"header","className":"navbar"} /-->

    <!-- wp:group {"tagName":"main"} -->
    <main id="main" class="wp-block-group">

        <!-- wp:group {"className":"entry-content"} -->
        <div class="entry-content">

            <!-- wp:pattern {"slug":"mdb-theme-fse/404-image"} /-->

        </div>
        <!-- /wp:group -->

    </main>
    <!-- /wp:group -->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"scrollup"} /-->
