<!-- wp:pattern {"slug":"mdb-theme-fse/slideout-navigation"} /-->
<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-component-header"} /-->

<!-- wp:group {"tagName":"main","className":"site-component-main","style":{"spacing":{"padding":{"top":"var:custom|main|spacing|top","bottom":"var:custom|main|spacing|bottom"}}}} -->
<main class="wp-block-group site-component-main" style="padding-top:var(--wp--custom--main--spacing--top);padding-bottom:var(--wp--custom--main--spacing--bottom);">

    <!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|70","left":"0","right":"0"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignfull" style="padding-top:var(--wp--preset--spacing--40);padding-right:0;padding-bottom:var(--wp--preset--spacing--70);padding-left:0">
        <!-- wp:post-title {"level":1} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:post-content {"layout":{"inherit":true}} /-->

    <!-- wp:mdb-theme-blocks/post-terms /-->

    <!-- wp:pattern {"slug":"mdb-theme-fse/related-posts"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
