<!-- wp:pattern {"slug":"mdb-theme-fse/slideout-navigation"} /-->
<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-component-header"} /-->

<!-- wp:group {"tagName":"main","className":"site-component-main","style":{"spacing":{"padding":{"top":"var:custom|main|spacing|top","bottom":"var:custom|main|spacing|bottom"}}}} -->
<main class="wp-block-group site-component-main" style="padding-top:var(--wp--custom--main--spacing--top);padding-bottom:var(--wp--custom--main--spacing--bottom);">

    <!-- wp:pattern {"slug":"mdb-theme-fse/single-title"} /-->
    <!-- wp:post-content {"layout":{"inherit":true}} /-->
    <!-- wp:mdb-theme-blocks/post-terms /-->
    <!-- wp:pattern {"slug":"mdb-theme-fse/related-posts"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
