<!-- wp:template-part {"slug":"preloader","className":"site-component-preloader"} /-->
<!-- wp:template-part {"slug":"slideout","className":"site-component-slideout"} /-->
<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-component-header"} /-->

<!-- wp:group {"tagName":"main","className":"site-component-main","style":{"spacing":{"padding":{"top":"var:custom|main|spacing|top","bottom":"var:custom|main|spacing|bottom"}}}} -->
<main class="wp-block-group site-component-main" style="padding-top:var(--wp--custom--main--spacing--top);padding-bottom:var(--wp--custom--main--spacing--bottom);">

        <!-- wp:group {"className":"entry-content has-global-padding is-layout-constrained"} -->
        <div class="wp-block-group entry-content has-global-padding is-layout-constrained">

            <!-- wp:mdb-theme-blocks/single-publication-details /-->

        </div>
        <!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
