<!-- wp:template-part {"slug":"slideout"} /-->

<!-- wp:group -->
<div id="app" class="wp-block-group">

    <!-- wp:template-part {"slug":"navbar","theme":"mdb-theme-fse","tagName":"header","className":"navbar"} /-->

    <!-- wp:group {"tagName":"main"} -->
    <main id="main" class="wp-block-group">

        <!-- wp:group {"className":"entry-content has-global-padding is-layout-constrained"} -->
        <div class="wp-block-group entry-content has-global-padding is-layout-constrained">

            <!-- wp:mdb-theme-blocks/single-publication-details /-->

            <!-- wp:template-part {"slug":"footer","tagName":"footer" } /-->

        </div>
        <!-- /wp:group -->

    </main>
    <!-- /wp:group -->

</div>
<!-- /wp:group -->
