<!-- wp:pattern {"slug":"mdb-theme-fse/slideout"} /-->

<!-- wp:group -->
<div id="app" class="wp-block-group">

    <!-- wp:template-part {"slug":"navbar","theme":"mdb-theme-fse","tagName":"header","className":"navbar"} /-->

    <!-- wp:group {"tagName":"main"} -->
    <main id="main" class="wp-block-group">

        <!-- wp:post-content {"layout":{"inherit":true}} /-->

        <!-- wp:group {"tagName":"section","className":"content"} -->
        <section class="wp-block-group content">

            <!-- wp:heading {"textAlign":"center","className":"is-style-section"} -->
            <h2 class="has-text-align-center is-style-section">Auch interessant</h2>
            <!-- /wp:heading -->
            <!-- wp:mdb-theme-blocks/related-posts /-->

        </section>
        <!-- /wp:group -->

    </main>
    <!-- /wp:group -->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"scrollup"} /-->
