<!-- wp:template-part {"slug":"slideout"} /-->

<!-- wp:group -->
<div id="app" class="wp-block-group">

    <!-- wp:template-part {"slug":"navbar","tagName":"header"} /-->

    <!-- wp:group {"tagName":"main"} -->
    <main id="main" class="wp-block-group">

        <!-- wp:group {"className":"entry-content has-global-padding is-layout-constrained"} -->
        <div class="wp-block-group entry-content has-global-padding is-layout-constrained">

            <!-- wp:paragraph {"align":"center","className":"is-style-tag-archive-kicker"} -->
            <p class="has-text-align-center is-style-tag-archive-kicker">Schlagwort</p>
            <!-- /wp:paragraph -->

            <!-- wp:query-title {"type":"archive","textAlign":"center","showPrefix":false} /-->

            <!-- wp:mdb-theme-blocks/post-terms-archive /-->

            <!-- wp:template-part {"slug":"footer","theme":"mdb-theme-fse","tagName":"footer","className":"alignfull"} /-->

        </div>
        <!-- /wp:group -->

    </main>
    <!-- /wp:group -->

</div>
<!-- /wp:group -->
