<!-- wp:template-part {"slug":"slideout"} /-->

<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-component-header"} /-->

<!-- wp:group {"tagName":"main","className":"site-component-main","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}}} -->
<main class="wp-block-group site-component-main" style="padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);">

        <!-- wp:group {"className":"entry-content has-global-padding is-layout-constrained"} -->
        <div class="wp-block-group entry-content has-global-padding is-layout-constrained">

            <!-- wp:paragraph {"align":"center","className":"is-style-tag-archive-kicker"} -->
            <p class="has-text-align-center is-style-tag-archive-kicker">Schlagwort</p>
            <!-- /wp:paragraph -->

            <!-- wp:query-title {"type":"archive","textAlign":"center","showPrefix":false,"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|80"}}}} /-->

            <!-- wp:mdb-theme-blocks/post-terms-archive /-->

        </div>
        <!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
