<!-- wp:template-part {"slug":"slideout"} /-->

<!-- wp:template-part {"slug":"header","theme":"mdb-theme-fse","tagName":"header","className":"alignfull"} /-->

<!-- wp:group {"tagName":"main","className":"site-component-main" } -->
<main class="wp-block-group site-component-main">

        <!-- wp:group {"className":"entry-content has-global-padding is-layout-constrained"} -->
        <div class="wp-block-group entry-content has-global-padding is-layout-constrained">

            <!-- wp:paragraph {"align":"center","className":"is-style-tag-archive-kicker"} -->
            <p class="has-text-align-center is-style-tag-archive-kicker">Schlagwort</p>
            <!-- /wp:paragraph -->

            <!-- wp:query-title {"type":"archive","textAlign":"center","showPrefix":false,"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|80"}}}} /-->

            <!-- wp:mdb-theme-blocks/post-terms-archive /-->

        </div>
        <!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"mdb-theme-fse","tagName":"footer","className":"alignfull"} /-->
