/**
 * HTML tags
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */




html,
body {
    height: 100%;
    font-family: $font--primary;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.7;
    letter-spacing: .2px;
    color: $color--text;
}


html {
    margin: 0 !important;
}


body {
    background: $color--background;
    margin: 0;
    padding: 0;
    position: relative; // prevent scrolling at overflow:hidden (iOS)
    overflow: hidden;
}


*,
*::before,
*::after {
    //margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/**
 * Anchors
 */

a {
    display: inline;
    width: auto;
    outline: none !important;

    // typography
    color: $color--link;
    font-weight: 300;
    text-decoration: none;
    -webkit-text-decoration-style: solid;
            text-decoration-style: solid;
    text-underline-offset: .3em;


    &:hover,
    &:focus {
        text-decoration: underline;
    }

    & > .anchor-icon {
        position: relative;
        width: 1rem;
        height: auto;
    }
}


// Anchor contains an external link

a.is-external > .anchor-icon {
    margin-left: 2px;
    top: 2px;
}


/**
 * Horizontal ruler
 */

hr {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    padding: 0;
    border: none;
    border-top: 1px solid $color--ruler;

    & + * {
        margin-top: 0 !important;
    }
}
