/**
 * HTML tags
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */




html,
body {
    height: 100%;
    font-family: $font--primary;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.7;
    letter-spacing: .2px;
    color: $color--text;
}


html {
    margin: 0 !important;
}


body {
    background: $color--background;
    margin: 0;
    padding: 0;
    position: relative; // prevent scrolling at overflow:hidden (iOS)
    overflow: hidden;
}


*,
*::before,
*::after {
    //margin: 0;
    padding: 0;
    box-sizing: border-box;
}


b,
strong {
    font-weight: bold;
}


/**
 * Anchors
 */

a {
    @include default_anchor_style();

    & > .anchor-icon {
        position: relative;
        width: 1rem;
        height: auto;
    }
}
