/**
 * HTML tags
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-theme-fse
 */




html,
body {
    height: 100%;
    font-family: var(--wp--preset--font-family--primary);
    font-size: 16px;
    font-weight: 200;
    line-height: 1.7;
    letter-spacing: .2px;
    color: var(--wp--preset--color--text);
}


html {
    margin: 0 !important;
}


body {
    background: var(--wp--preset--color--background);
    margin: 0;
    padding: 0;
    position: relative; // prevent scrolling at overflow:hidden (iOS)
    overflow: hidden;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/**
 * Anchors
 */

a {
    display: inline;
    width: auto;
    outline: none !important;

    // typography
    color: var(--wp--preset--color--dark-blue);
    font-weight: 300;
    text-decoration: none;
    text-decoration-style: solid;
    text-underline-offset: 6px;
    transition: text-decoration .25s linear;

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    & > .anchor-icon {
        position: relative;
        width: 1rem;
        height: auto;
    }
}


// Anchor contains an external link

a.is-external > .anchor-icon {
    margin-left: 2px;
    top: 2px;
}


// Anchor contains a download link

.anchor.is-download {
    // flexbox
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: baseline;
    padding: .4rem 0;

    // typography
    font-size: 1.275rem; // clamping???
    text-shadow: none;
    line-height: 1.3;
    color: var(--mdb-color-white);

    .anchor-icon {
        top: 1px;
        width: 1.2rem;
        flex-shrink: 0;
        flex-grow: 0;
    }

    .anchor-text {
        flex-shrink: 1;
        flex-grow: 1;
    }
}
