/**
 * Site components
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



/**
 * Component: #app (wrapper of #main and #navbar)
 */

#app {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: auto;
    grid-template-rows: $row-height--navbar auto;

    @include breakpoint(large) {
        grid-auto-flow: column;
        grid-template-columns: $column-width--navbar auto;
        grid-template-rows: auto;
    }

    body.logged-in.admin-bar & {
        height: calc(100vh - var(--wp-admin--admin-bar--height));
        height: calc(100dvh - var(--wp-admin--admin-bar--height));
    }
}


/**
 * Component: #main (the content area)
 */

#main {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}


/**
 * Component: #navbar (navigation bar at the top and left side respectively)
 */

#navbar {
    position: relative;
    z-index: 1080;
    display: flex;
    flex-direction: row;
    align-content: center;
    background: transparent;
    width: 100%;
    height: var($row-height--navbar);
    padding: $padding--content;

    @include breakpoint(large) {
        flex-direction: column;
        width: var($column-width--navbar);
        height: 100%;
    }
}


/** Areas inside #navbar */

#navbar-left {
    display: flex;
    order: 1;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;

    @include breakpoint(large) {
        align-items: flex-start;
        justify-content: center;
    }
}

#navbar-middle {
    display: flex;
    order: 2;
    flex-grow: 2;
}

#navbar-right {
    display: flex;
    order: 3;
    flex-grow: 0;
    flex-wrap: nowrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: flex-end;

    @include breakpoint(large) {
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: center;
    }
}


/** Buttons inside #navbar */

.navbar-button {
    display: inline-block;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: 0 !important;
    position: relative;

    @include breakpoint(large) {
        // make sure buttons are arranged among themselves
        width: 100%;
    }

    svg {
        width: auto;
        height: 18px;

        path {
            transition: all .5s ease-out;
            fill: $color--link;
        }
    }

    &:hover svg,
    &:focus svg {
        path {
            fill: $color--link;     // __hover;
        }
    }
}

body:not(.slideout-visible).slide-in-progress .navbar-button,
body.slideout-visible .navbar-button {
    svg path {
        fill: $color--slideout-link;
    }

    &:hover svg,
    &:focus svg {
        path {
            fill: $color--slideout-link__hover;
        }
    }
}


/**
 * Component: #slideout (main menue which slides out when mdb-button is clicked)
 */

#slideout {
    position: fixed;
    z-index: 1070;
    background: $color--slideout;
    overflow: hidden;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;

    body.logged-in.admin-bar & {
        height: calc(100vh - var(--wp-admin--admin-bar--height));
        height: calc(100dvh - var(--wp-admin--admin-bar--height));
        top: var(--wp-admin--admin-bar--height);
    }
}

#slideout-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - var($row-height--navbar));
    width: 100%;
    position: relative;
    top: var($row-height--navbar);
    left: 0;

    @include breakpoint(large) {
        top: 0;
        height: 100%;
    }
}

#slideout-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 4rem;
    max-height: calc(100% - var($row-height--navbar));
    min-width: 45%;
    padding: 0;

    @include breakpoint(large) {
        flex-wrap: nowrap;
        -moz-column-gap: 6rem;
             column-gap: 6rem;
        align-items: baseline;
    }
}


/** Primary and secondary navigation */

#primary,
#secondary {
    width: 100%;
    display: none;

    @include breakpoint(large) {
        width: auto;
    }

    ul {
        list-style: none;
        margin: 0;
        text-shadow: none;
        width: 100%;
    }

    ul > li {
        display: block;
        width: 100%;
        padding-left: 0;

        // typography
        letter-spacing: .8px;
        font-family: var(--wp--preset--font-family--navigation);
        font-weight: 300;
        line-height: 1em;
        text-align: left;
    }

    a {
        display: block;
        padding: 0;

        // typography
        font-family: inherit;
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        letter-spacing: inherit;
        text-decoration: none;
        color: $color--slideout-link;
        transition: color .5s ease-out;

        &:hover,
        &:focus {
            text-decoration: none;
            color: $color--slideout-link__hover;
            outline: 0 !important;
        }
    }
}

#primary {
    li {
        font-size: clamp(1.75rem, 4vw, 2.5rem);
    }

    li + li {
        margin-top: unquote("clamp( .8em, .8em + 2vh, 3em)");
    }
}

#secondary {
    li {
        font-size: clamp(1.2rem, 2vw, 1.5rem);
    }

    li + li {
        margin-top: 1em;
    }
}


/** The slide effect */

body.slide-in-progress {
    overflow-y: hidden;
}

body.slideout-visible {
    #primary,
    #secondary {
        display: unset;
    }
}


/**
 * Component: #scrollup
 * Realised as a block pattern.
 */

#scrollup {
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    display: none;

    & > .wp-block-button__link {
        padding: .75rem;
        border: none;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color--button-text;
        background: $color--button--background;
        cursor: pointer;
        box-shadow: 0 1px 10px 0 rgba(0,0,0,.15);

        &:hover,
        &:focus {
            color: $color--button-text__hover;
            background: $color--button--background__hover;
            box-shadow: 0 10px 20px rgba(0,0,0,.15), 0 6px 6px rgba(0,0,0,.10);
        }

        svg  {
            width: 20px;
            height: 20px;
        }
    }
}



/**
 * Fix to WordPress #wpadminbar
 */

@media screen and (max-width: 600px) {
    #wpadminbar {
        position: fixed !important;
    }
}



/**
 * Images
 */

#marco-01 img,
#marco-02 img  {
    filter: drop-shadow(20px 20px 20px #000) opacity(65%);
}
