/**
 * Fonts
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



@font-face {
    font-family: 'Inter';
    src: url('../../fonts/Inter-VariableFont_slnt,wght.woff2') format('woff2 supports variations'),
         url('../../fonts/Inter-VariableFont_slnt,wght.woff2') format('woff2-variations');
         font-weight: 100 900;
}


@font-face {
    font-family: 'Inconsolata';
    src: url('../../fonts/Inconsolata-VariableFont_wdth,wght.woff2') format('woff2 supports variations'),
         url('../../fonts/Inconsolata-VariableFont_wdth,wght.woff2') format('woff2-variations');
         font-weight: 200 900;
}
