/**
 * Styles
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



/**
 * Indented content
 */

.is-root-container > .content,
.entry-content > .content {
    padding-top: $padding--content;
    padding-bottom: $padding--content;
    padding-left: $padding--content;
    padding-right: $padding--content;

    @media screen and (min-width: #{$max-width--content}) {
        padding-left: calc( calc(100% - #{$max-width--content} ) / 2 );
        padding-right: calc( calc(100% - #{$max-width--content} ) / 2 );
    }
}


/**
 * Padding and margin control
 */

.no-padding-top,
.is-root-container > .content.no-padding-top,
.entry-content > .content.no-padding-top {
    padding-top: 0 !important;
}


.no-padding-bottom,
.is-root-container > .content.no-padding-bottom,
.entry-content > .content.no-padding-bottom {
    padding-bottom: 0 !important;
}


.no-margin-top {
    margin-top: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}


/**
 * Basic styles for AJAX-driven loadmore-elements
 */

.loadmore {

    .loadmore-content {
        margin: 0;
    }

    .loadmore-button {
        display: block;
        margin: 0 auto;
        white-space: nowrap;
    }

    .loadmore-spinner {
        display: none;

        & > * {
            margin: 0 auto;
        }
    }
}
