/**
 * Styles
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



/**
 * Indented content
 */

.is-root-container > .content,
.entry-content > .content {
    padding-top: $padding--content;
    padding-bottom: $padding--content;
    padding-left: $padding--content;
    padding-right: $padding--content;

    @media screen and (min-width: #{$max-width--content}) {
        padding-left: calc( calc(100% - #{$max-width--content} ) / 2 );
        padding-right: calc( calc(100% - #{$max-width--content} ) / 2 );
    }
}


/**
 * Padding and margin control
 */

.no-padding-top,
.is-root-container > .content.no-padding-top,
.entry-content > .content.no-padding-top {
    padding-top: 0 !important;
}


.no-padding-bottom,
.is-root-container > .content.no-padding-bottom,
.entry-content > .content.no-padding-bottom {
    padding-bottom: 0 !important;
}


.no-margin-top {
    margin-top: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}


/**
 * Basic styles for AJAX-driven loadmore-elements
 */

.loadmore {

    .loadmore-content {
        margin: 0;
    }

    .loadmore-button {
        display: block;
        margin: 0 auto;
        white-space: nowrap;
    }

    .loadmore-spinner {
        display: none;

        & > * {
            margin: 0 auto;
        }
    }
}


/**
 * Styles for publication pages
 */

.publication-showroom {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(medium) {
        flex-wrap: nowrap;
    }
}

.publication-cover {
    width: 100%;
    order: 1;

    @include breakpoint(medium) {
        order: 2;
        width: auto;
    }

    img {
        width: 300px;
        height: auto;
        box-shadow: 0 19px 38px rgba(0,0,0,.3),0 15px 12px rgba(0,0,0,.22);
        border-radius: 2px;
    }
}

.publication-info {
    width: 100%;
    order: 2;
    margin-top: 3rem;

    @include breakpoint(medium) {
        margin-top: 0;
        padding-right: 3rem;
        order: 1;

        & > *:first-child {
            margin-top: 0;
        }
    }
}

.publication-title {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
}

.publication-subtitle {
    display: block;
    margin-top: 1.75rem;
    font-size: 1.25rem;
}

.publication-sectiontitle {
    font-size: 1.35rem;
}

.publication-divider {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    padding: 0;
    border: none;
    border-top: 1px solid $color--publication-divider;

    & + * {
        margin-top: 0 !important;
    }
}

.publication-keyword {
    display: inline-block;
    margin-top: 0.5rem;
    margin-right: 1rem;

    @include breakpoint(medium) {
        margin-right: 1.5rem;
    }
}

.publication-edition-or-periodical {
    color: rgba(255,255,255,.9);
    font-weight: bold;
}
