

.is-root-container > .content,
.entry-content > .content {
    padding: var(--mdb-content-padding);

    @media screen and (min-width: #{$content-max-width}) {
        padding-left: calc( calc(100% - #{$content-max-width} ) / 2 );
        padding-right: calc( calc(100% - #{$content-max-width} ) / 2 );
    }
}


.no-padding-top,
.is-root-container > .content.no-padding-top,
.entry-content > .content.no-padding-top {
    padding-top: 0 !important;
}


.no-padding-bottom,
.is-root-container > .content.no-padding-bottom,
.entry-content > .content.no-padding-bottom {
    padding-bottom: 0 !important;
}
