/**
 * Site component: footer
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */




.site-component-footer {
    background: url("../../images/footer-gradient.png");
    background-repeat: repeat-x;
}


.site-component-footer > p:nth-of-type(1) {
    font-size: 1rem;
}


.site-component-footer > p:nth-of-type(2) {
    font-size: .875rem;
    margin-bottom: 0;
}


.site-component-footer > .wp-block-buttons {
    margin-bottom: 2rem;
    gap: .1em;
}
