/**
 * Site component: slideout (main menue which slides out when hamburger button is clicked)
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



.site-component-slideout {
    position: fixed;
    z-index: 2000;
    background: var(--wp--preset--color--denim);
    overflow: hidden;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
}


.slideout-content-wrapper {
    height: calc(100% - var(--wp--custom--navbar--row-height));
    width: 100%;
    position: relative;
    top: var(--wp--custom--navbar--row-height);
    left: 0;
    padding: 0 1rem;
    overflow: auto;
    scrollbar-color: var(--wp--preset--color--white) transparent;
}


.slideout-content {
    display: none;
    width: var(--wp--style--global--content-size);
}


.slideout-content a {
    color: var(--wp--preset--color--white);

    display: block;
    padding: 0;
    outline: 0 !important;
    transition: all .4s ease-out;

    &:hover,
    &:focus {
        text-decoration: none !important;
        color: var(--wp--preset--color--denim-dark);
    }
}




/** The slide effect */

body.slide-in-progress {
    overflow-y: hidden;
}


body.slideout-visible .slideout-content {
    display: flex;
}
