/**
 * Site component: slideout (main menue which slides out when hamburger button is clicked)
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



.site-component-slideout {
    position: fixed;
    z-index: 2000;
    background: $color--slideout;
    overflow: hidden;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
}


.slideout-content-wrapper {
    height: calc(100% - var(--wp--custom--navbar--row-height));
    width: 100%;
    position: relative;
    top: var(--wp--custom--navbar--row-height);
    left: 0;
    padding: 0 1rem;
    overflow: auto;
    scrollbar-color: $color--slideout--text transparent;
}


.slideout-content {
    margin: 0 auto;
    width: var(--wp--style--global--content-size);
}

/** Primary navigation */

.slideout-primary {
    width: auto;
    display: none;

    ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
        text-align: center;
        width: 100%;
    }

    li {
        display: block;
        width: 100%;
        padding: 1.25rem 0;
        text-shadow: none;

        // typography
        letter-spacing: .8px;
        font-family: var(--wp--preset--font-family--secondary);
        font-weight: 200;
        font-size: clamp(1.5rem,4vw,2rem);
        line-height: 150%;
        text-decoration: none !important;
        color: $color--slideout--text;
        text-shadow: 0 1px 10px rgba(0,0,0,.2);
    }

    a {
        display: block;
        padding: 0;

        // typography
/*        letter-spacing: .8px;
        font-family: var(--wp--preset--font-family--secondary);
        font-weight: 200;
        font-size: clamp(2rem, 4vw, 2.5rem);
        line-height: 150%;
        text-decoration: none !important;
        //text-shadow: 0 1px 10px rgba(0,0,0,.2);
        */
        outline: 0 !important;
        transition: all .4s ease-out;

        &:hover,
        &:focus {
            text-decoration: none !important;
            color: $color--slideout--text__hover;
        }
    }
}


/** The slide effect */

body.slide-in-progress {
    overflow-y: hidden;
}


body.slideout-visible .slideout-primary {
    display: flex;
}
