/**
 * Site component: navbar (navigation bar at the top side respectively)
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



.site-component-navbar {
    position: relative;
    z-index: 3000;
    height: 100%;
    width: auto;
    max-width: 1200px;
    margin: 0 auto;
}


.navbar-content-wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 100%;
    padding: 1rem;
    background: transparent;
}


.navbar-content {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}


// left
.navbar-content-first {
    order: 1;
    flex-grow: 0;
    justify-content: flex-start;
}


// middle
.navbar-content-second {
    order: 2;
    flex-grow: 2;
}


// right
.navbar-content-third {
    gap: .2em;
    order: 3;
    flex-grow: 0;
    justify-content: flex-end;
}
