/**
 * Site component: slideout (main menue which slides out when hamburger button is clicked)
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



.site-component-slideout {
    position: fixed;
    z-index: 2000;
    background: var(--wp--preset--color--denim);
    overflow: hidden;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
}


.slideout-content-wrapper {
    display: flex;
    justify-content: center;
    height: calc(100% - var(--wp--custom--navbar--row-height));
    width: 100%;
    position: relative;
    top: var(--wp--custom--navbar--row-height);
    left: 0;
    padding: 0 1rem;
    overflow: auto;
    scrollbar-color: var(--wp--preset--color--white) transparent;
}


/** Primary navigation */

.slideout-primary {
    width: auto;
    display: none;

    .wp-block-navigation-item {
        padding: 1.25rem 0;
        display: block;
        letter-spacing: .8px;
        font-family: var(--wp--preset--font-family--secondary);
        font-weight: 200;
        font-size: clamp(2rem, 4vw, 2.5rem);
        line-height: 1.5;
        text-shadow: none;
        color: var(--wp--preset--color--white);
    }

    .wp-block-navigation-item__content.wp-block-navigation-item__content:hover,
    .wp-block-navigation-item__content.wp-block-navigation-item__content:focus {
        color: var(--wp--preset--color--denim-dark);
    }
}



/** The slide effect */

body.slide-in-progress {
    overflow-y: hidden;
}

body.slideout-visible .slideout-primary {
    display: unset;
}
