/**
 * Site component: preloader
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



.site-component-preloader {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    // big spinner
    --sk-size: 72px;

    // Initial setting for preloader
    display: flex;

    // Block editor setting
    .block-editor-iframe__body & {
        display: none;
    }
}
