/**
 * Site component: header
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



.site-component-header {
    position: relative;
    z-index: 3000;
    height: 100%;
    margin: 0 auto;
}


/*
.site-component-header {
    width: 100%;
    height: var(--wp--custom--navbar--row-height);
}
*/
