/**
 * Site component: header
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



.site-component-header {
    width: 100%;
    height: var(--wp--custom--header--height);

    // Initial setting for preloader
    display: none;
}
