/**
 * Block: core/button
 * Theme support and custom styles
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



/**
 * .is-style-navigation-faux-anchor
 */

.wp-block-button.is-style-navigation-faux-anchor > .wp-block-button__link  {
    display: inline-block;
    outline: none !important;
    border: none !important;
    background: none !important;
    box-shadow: none;
    position: unset;
    padding: .75rem 1rem;
}


.wp-block-button.is-style-navigation-faux-anchor > .wp-block-button__link .svg-symbol {
    background-color: $color--link;
    transition: background-color .2s;

    .slideout-visible & {
        background-color: $color--slideout--text;
    }
}


.wp-block-button.is-style-navigation-faux-anchor > .wp-block-button__link:hover .svg-symbol,
.wp-block-button.is-style-navigation-faux-anchor > .wp-block-button__link:focus .svg-symbol {
    background-color: $color--link__hover;

    .slideout-visible & {
        background-color: $color--slideout--text__hover;
    }
}
