/**
 * Block: core/code
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



/**
 * default
 */

.wp-block-code {
    border-radius: $base--border-radius !important;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.15) !important;

    // spacing
    padding: 1.5rem !important;
    margin-top: var(--wp--preset--spacing--50) !important;
    margin-bottom: var(--wp--preset--spacing--50) !important;

    &:first-child {
        margin-top: 0 !important;
    }

    &:last-child {
        margin-bottom: 0 !important;
    }
}


// probably move this to another location (cause this are modification related to a plugin)

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
    background: $color--code--selection--background !important;
    color: $color--code--selection--text !important;
}
