/**
 * Block: core/cover
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



/**
 * .is-style-portfolio
 */

.wp-block-cover.is-style-portfolio {

    .wp-block-cover__background {
        background: linear-gradient(to bottom, hsla(228, 21.7%, 9%, 20%) 5%, transparent 50%) !important;
        opacity: 100 !important;
    }

    .wp-block-button > .wp-block-button__link:not(:hover,:focus) {
        background: transparent;
        box-shadow: 0 8px 30px 5px rgba(0,0,0,.3);
    }
}
