/**
 * Block: core/cover
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



/**
 * .is-style-portfolio
 */

.wp-block-cover.is-style-portfolio {

    .wp-block-cover__background {
        background: linear-gradient(to bottom, hsla(228, 21.7%, 9%, 20%) 5%, transparent 50%) !important;
        opacity: 100 !important;
    }

    .wp-block-button > .wp-block-button__link:not(:hover,:focus) {
        background: transparent;
        box-shadow: 0 8px 30px 5px rgba(0,0,0,.3);
    }
}



/**
 * .is-style-fusion
 */

.wp-block-cover.is-style-fusion {

    .wp-block-cover__inner-container {
        color: inherit;
        width: 100%;
        z-index: 10;

        .wp-block-post-title,
        .wp-block-query-title {
            text-shadow: 0 5px 30px rgba(0,0,0,.35);
        }
    }

    &::after,
    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        pointer-events: none;
    }

    &::before {
        background: linear-gradient( to bottom, transparent, var(--wp--preset--color--body) );
        bottom: -1px;
        height: 30%;
        z-index: 5;
    }

    &::after {
        background: linear-gradient(to top, transparent, var(--wp--preset--color--body));
        top: -1px;
        height: 5%;
        z-index: 4;
    }
/*
    .wp-block-cover__image-background {
        opacity: 30%; // experimental
    }
*/

    // Workaround: Remove the following code if there is a better block control solution
    .wp-block-cover__background {
        display: none;
    }

    .wp-block-cover__background.has-background-dim-0 + .wp-block-cover__image-background {
        opacity: 0;
    }

    .wp-block-cover__background.has-background-dim-10 + .wp-block-cover__image-background {
        opacity: .1;
    }

    .wp-block-cover__background.has-background-dim-20 + .wp-block-cover__image-background {
        opacity: .2;
    }

    .wp-block-cover__background.has-background-dim-30 + .wp-block-cover__image-background {
        opacity: .3;
    }

    .wp-block-cover__background.has-background-dim-40 + .wp-block-cover__image-background {
        opacity: .4;
    }

    .wp-block-cover__background.has-background-dim-50 + .wp-block-cover__image-background {
        opacity: .5;
    }

    .wp-block-cover__background.has-background-dim-60 + .wp-block-cover__image-background {
        opacity: .6;
    }

    .wp-block-cover__background.has-background-dim-70 + .wp-block-cover__image-background {
        opacity: .7;
    }

    .wp-block-cover__background.has-background-dim-80 + .wp-block-cover__image-background {
        opacity: .8;
    }

    .wp-block-cover__background.has-background-dim-90 + .wp-block-cover__image-background {
        opacity: .9;
    }

    .wp-block-cover__background.has-background-dim-100 + .wp-block-cover__image-background {
        opacity: 1;
    }
}


.site-component-main .wp-block-post-content > .wp-block-cover.is-style-fusion:first-child {
    margin-top: calc( -1 * var(--wp--custom--main--spacing-top) );
}
