/**
 * Block: core/embed
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



/**
 * default
 */

.wp-block-embed {
    // sizing
    line-height: 0;

    // spacing
    margin-left: 0;
    margin-right: 0;
    margin-top: var(--wp--preset--spacing--50);
    margin-bottom: var(--wp--preset--spacing--50);

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .wp-block-embed__wrapper {
        width: 100%;
        height: auto;
    }

    figure {
        width: 100% !important;
    }
}



/**
 * .is-style-shaded
 */

.wp-block-embed.is-style-shaded {
    figcaption {
        margin-top: 1.5rem;
    }

    .wp-block-embed__wrapper {
        box-shadow: 0 8px 10px 0 rgba(0,0,0,.35);
        border-radius: var(--wp--custom--base--border-radius);
    }
}
