/**
 * Block: core/heading
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



/**
 * Block style: default
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    // prevent margin-collapsing
    display: block;
    width: 100%;

    // typography
    font-family: $font--primary;
    font-size: $base--font-size;
    font-weight: 600;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;

    @include breakpoint(medium) {
        -webkit-hyphens: none;
            -ms-hyphens: none;
                hyphens: none;
    }

    line-height: 1.3;
    text-transform: none;
    text-shadow: 0 1px 10px rgba(0,0,0,.35);
    color: $color--heading-is-section;

    // spacing
    margin-top: 0;
    margin-bottom: 0;

    * + & {
        margin-top: $base--gap;
    }
}


h1 {
    font-size: calc(3 * #{$base--font-size});
}


h2 {
    font-size: calc(1.95 * #{$base--font-size});

    * + & {
        margin-top: calc(3.5 * #{$base--gap});
    }
}


h3 {
    font-size: calc(1.125 * #{$base--font-size});

    * + & {
        margin-top: calc(2 * #{$base--gap});
    }
}



/**
 * Block style: .is-style-section
 */

h1.is-style-section,
h2.is-style-section,
h3.is-style-section,
h4.is-style-section,
h5.is-style-section,
h6.is-style-section {
    // typography
    font-size: calc(1.95 * #{$base--font-size});

    // spacing
    margin-top: 0 !important;
    margin-bottom: 1.5em;
}



/**
 * Block style: .is-style-section
 */

h1.is-style-section-large,
h2.is-style-section-large,
h3.is-style-section-large,
h4.is-style-section-large,
h5.is-style-section-large,
h6.is-style-section-large {
    // typography
    font-size: calc(3 * #{$base--font-size});

    // spacing
    margin-top: 0 !important;
    margin-bottom: 1.5em;
}
