/**
 * Block: core/image
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



/**
 * default
 */

.wp-block-image {
    // sizing
    width: auto;
    max-width: unset !important;
    line-height: 0;

    // spacing
    margin: 0;

    img {
        width: 100%;
        height: auto;
    }

    figure {
        width: 100% !important;
    }

    figcaption {
        // spacing
        margin-top: 1rem;
        margin-bottom: 0;

        // typography
        // text-align: left;
    }
}



/**
 * .is-style-transparent
 */

.wp-block-image.is-style-transparent {
    // spacing
    margin-top: calc(2.5 * #{$base--gap});
    margin-bottom: calc(2.5 * #{$base--gap});

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}



/**
 * .is-style-shaded
 */

.wp-block-image.is-style-shaded {
    // spacing
    margin-top: calc(2.5 * #{$base--gap});
    margin-bottom: calc(2.5 * #{$base--gap});

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    figcaption {
        margin-top: 1.3rem;
    }

    img {
        //background: cssvar(background-universal);
        box-shadow: 0 8px 10px 0 rgba(0,0,0,.35);
        border-radius: $base--border-radius;
    }
}
