/**
 * Block: core/media-text
 * Theme support and custom styles
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



/**
 * default
 */

.wp-block-media-text__media
.wp-block-media-text__text {
    & > *:first-child {
        margin-top: 0;
    }

    & > *:last-child {
        margin-bottom: 0;
    }
}


.wp-block-media-text__media img,
.wp-block-media-text__media video {
    // Bugfix: Since WordPress 5.5 the media will be stretched
    height: auto;
}


.wp-block-media-text:not(.has-media-on-the-right) .wp-block-media-text__content {
    padding-right: 0;
}


.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
    padding-left: 0;
}


@media (max-width: 600px) {

    .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__content {
        padding: 2rem 0 0;
    }


    .wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right .wp-block-media-text__content {
        padding: 0 0 2rem;
    }

}
