/**
 * Block: core/paragraph
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



/**
 * default
 */

p {
    // prevent margin-collapsing
    display: block;
    width: 100%;
}


/**
 * .is-style-smallnote
 */

p.is-style-smallnote {
    // typography
    font-style: italic;
    line-height: 1.3;
    font-size: 90%;
    font-family: var(--wp--preset--font-family--secondary);

    // spacing
    margin-top: var(--wp--preset--spacing--50);
}



/**
 * .is-style-tag-archive-kicker
 */

p.is-style-tag-archive-kicker {
    // typography
    font-family: var(--wp--preset--font-family--primary);
    font-weight: 300;
    font-size: var(--wp--preset--font-size--medium);
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--wp--preset--color--denim);

    // spacing
    margin-bottom: .3rem;

    & + * {
        margin-top: 0;
    }
}
