/**
 * Block: core/paragraph
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



/**
 * default
 */

p {
    // prevent margin-collapsing
    display: block;
    width: 100%;

    // typography
    text-shadow: 0 1px 10px rgba(0,0,0,.5);

    // spacing
    margin-top: 0;
    margin-bottom: 0;

    * + & {
        margin-top: $base--gap;
    }
}



/**
 * .is-style-smallnote
 */

p.is-style-smallnote {
    // typography
    font-size: calc(.8 * #{$base--font-size});
    font-style: italic;
}



/**
 * .is-style-tag-archive-kicker
 */

p.is-style-tag-archive-kicker {
    // typography
    font-family: $font--primary;
    font-weight: 300;
    font-size: calc(1.5 * var(--wp--custom--base--font-size));
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color--heading-is-paragraph;

    // spacing
    & + * {
        margin-top: .3rem;
    }
}
