/**
 * Block: core/post-title
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



/**
 * default
 */

.wp-block-post-title {
    margin-top: 0 !important;
    margin-bottom: var(--wp--preset--spacing--80);
    word-break: normal;

    // styling is mostly handled by core/heading

    @include breakpoint(large) {
        hyphens: none;
    }
}
