/**
 * Block: core/button
 * Theme support and custom styles
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



.wp-block-button > .wp-block-button__link  {
    // typography
    font-family: var(--wp--preset--font-family--primary);
    font-weight: normal;
    font-size: 1rem;
    letter-spacing: .4px;
    text-transform: uppercase;
    text-decoration: none !important;

    // positioning
    position: relative;
    top: 0;
    left: 0;

    // other styling
    color: $color--button-text;
    background: $color--button--background;
    border: none;
    border-radius: 3px;
    padding: 1rem 2rem;
    transition: color .25s linear, background-color .25s linear;
    cursor: pointer;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.15);
    text-shadow: 0 1px 5px rgba(0,0,0,.5);

    &:hover,
    &:focus {
        color: $color--button-text__hover;
        background: $color--button--background__hover;
        box-shadow: 0 10px 20px rgba(0,0,0,.15), 0 6px 6px rgba(0,0,0,.10);
    }

    &:active {
        top: 2px;
    }
}
