/**
 * Block: core/button
 * Theme support and custom styles
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



.wp-block-button > .wp-block-button__link  {
    @include default_button_style();
}


/**
 * Block style: flat
 */

.wp-block-button.is-style-flat > .wp-block-button__link  {
    // typography
    font-size: unset;
    line-height: 0;
    text-shadow: none;
    color: $color--button-is-flat--text;

    // positioning
    display: inline-block;

    // other styling
    background: $color--button-is-flat--background;
    border: none;
    padding: .75rem 1rem;
    transition: background-color .25s;
    box-shadow: none;

    &:hover,
    &:focus {
        color: $color--button-is-flat--text__hover;
        background: $color--button-is-flat--background__hover;
        box-shadow: 0 10px 20px rgba(0,0,0,.15), 0 6px 6px rgba(0,0,0,.10);
    }
}

.wp-block-button.is-style-flat > .wp-block-button__link .svg-symbol {
    background-color: $color--button-is-flat--text;
}

.wp-block-button.is-style-flat > .wp-block-button__link:hover .svg-symbol,
.wp-block-button.is-style-flat > .wp-block-button__link:focus .svg-symbol {
    background-color: $color--button-is-flat--text__hover;
}
