/**
 * Block: core/button
 * Theme support and custom styles
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



.wp-block-button > .wp-block-button__link  {
    // typography
    font-family: $font--primary;
    font-weight: normal;
    font-size: 1rem;
    letter-spacing: .4px;
    text-transform: uppercase;
    text-decoration: none !important;
    text-shadow: 0 1px 5px rgba(0,0,0,.5);
    color: $color--button-text;

    // positioning
    position: relative;
    top: 0;
    left: 0;

    // other styling
    background: $color--button--background;
    border: none;
    border-radius: 3px;
    padding: 1rem 2rem;
    transition: color .25s linear, background-color .25s linear;
    cursor: pointer;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.15);

    &:hover,
    &:focus {
        color: $color--button-text__hover;
        background: $color--button--background__hover;
        box-shadow: 0 10px 20px rgba(0,0,0,.15), 0 6px 6px rgba(0,0,0,.10);
    }

    &:active {
        top: 2px;
    }
}


/**
 * Block style: flat
 */

.wp-block-button.is-style-flat > .wp-block-button__link  {
    // typography
    text-shadow: none;

    // positioning
    display: inline-block;

    // other styling
    background: transparent;
    border: none;
    padding: .65rem 1rem;
    transition: background-color .25s;
    box-shadow: none;

    svg {
        width: auto;
        height: 18px;

        path {
            transition: all .25s ease-out;
            fill: $color--link;
        }
    }

    &:hover,
    &:focus {
        background: #515762;
        color: #fff;

        svg path {
            fill: #fff;
        }
    }
}
