/**
 * Block: core/embed
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



.wp-block-embed {
    // sizing
    width: auto;
    max-width: unset !important;
    line-height: 0;

    // spacing
    margin-left: 0;
    margin-right: 0;
    margin-top: calc( 2 * var(--mdb-gap-typo));
    margin-bottom: calc( 2 * var(--mdb-gap-typo));

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .wp-block-embed__wrapper {
        width: 100%;
        height: auto;
    }

    figure {
        width: 100% !important;
    }

    figcaption {
        // spacing
        margin-top: 1rem;
        margin-bottom: 0;

        // typography
        font-family: var(--wp--preset--font-family--secondary);
        font-weight: 300;
        line-height: 1.6;
        letter-spacing: .2px;
        color: var(--wp--preset--color--dark-blue);
        text-align: left;
    }
}


/** .is-style-shaded */

.wp-block-embed.is-style-shaded {
    // spacing
    margin-top: calc( 2 * var(--mdb-gap-typo) );
    margin-bottom: calc( 2 * var(--mdb-gap-typo) );

    figcaption {
        margin-top: 1.5rem;
    }

    .wp-block-embed__wrapper {
        box-shadow: 0 8px 10px 0 rgba(#000000,.35);
    }
}
