/**
 * Block: core/list
 *
 * @author  Marco Di Bella
 * @package mdb-theme-fse
 */



ol,
ul {
    // prevent margin-collapsing
    display: block;
    width: 100%;

    // typography
    font-size: unquote("clamp(1.125rem, 1vw + 1rem, 1.375rem)");
    text-shadow: 0 1px 10px rgba(0,0,0,.5);

    // spacing
    margin-left: 20px;

    * + & {
        margin-top: $gap--typo;
    }
}


ol > li,
ul > li {
    padding-left: .5rem;
}
